<template>
    <div class="tm-question">
        <div class="tm-question-title">1:1 문의</div>
        <table class="tm-inquiry-list">
            <thead>
            <tr>
                <th>번호</th>
                <th>분류</th>
                <th>제목</th>
                <th>문의자</th>
                <th>상태</th>
                <th>문의 일시</th>
            </tr>
            </thead>
            <tbody>
            <tr class="inquiry-1">
                <td>01</td>
                <td>결제</td>
                <td>신용카드로 결제취소 하였는데....</td>
                <td>왕오춘</td>
                <td>미답변</td>
                <td>2024-02-06</td>
            </tr>
            <tr>
                <td>02</td>
                <td>상품문의</td>
                <td>02번 패키지에 대해 질문...</td>
                <td>왕오춘</td>
                <td>미답변</td>
                <td>2024-02-05</td>
            </tr>
            <tr>
                <td>03</td>
                <td>상품문의</td>
                <td>02번 패키지에 대해 질문...</td>
                <td>왕오춘</td>
                <td>미답변</td>
                <td>2024-02-05</td>
            </tr>
            <tr>
                <td>04</td>
                <td>상품문의</td>
                <td>02번 패키지에 대해 질문...</td>
                <td>왕오춘</td>
                <td>미답변</td>
                <td>2024-02-05</td>
            </tr>
            <tr>
                <td>05</td>
                <td>상품문의</td>
                <td>02번 패키지에 대해 질문...</td>
                <td>왕오춘</td>
                <td>미답변</td>
                <td>2024-02-05</td>
            </tr>
            </tbody>
        </table>
        <div>
            <el-pagination
                :page-size="20"
                :pager-count="11"
                layout="prev, pager, next"
                :total="200">
            </el-pagination>
        </div>
    </div>
</template>
<script>

</script>
