<template>

    <div class="tm-question">
        <div class="tm-question-title">후기</div>
        <table class="tm-inquiry-list">
            <thead>
            <tr>
                <th>번호</th>
                <th>분류</th>
                <th>제목</th>
                <th>작성자</th>
                <th>평점</th>
                <th>작성 일시</th>
            </tr>
            </thead>
            <tbody>
            <tr class="inquiry-1">
                <td>01</td>
                <td>익스트림 매칭</td>
                <td>너무너무 좋았어요 이쁜 사랑 할게....</td>
                <td>왕오춘</td>
                <td>★★★★★</td>
                <td>2024-02-06</td>
            </tr>
            <tr>
                <td>02</td>
                <td>랜덤 매칭</td>
                <td>덕분에 값진 경험을 한거 같.....</td>
                <td>왕오춘</td>
                <td>★★★★☆ </td>
                <td>2024-02-05</td>
            </tr>
            <tr>
                <td>03</td>
                <td>익스트림 매칭</td>
                <td>만남은 이어지지않았지만 좋은 경험을....</td>
                <td>왕오춘</td>
                <td>★★★☆☆</td>
                <td>2024-02-05</td>
            </tr>
            <tr>
                <td>04</td>
                <td>익스트림 매칭</td>
                <td>덕분에 좋은 사람을 만난거.....</td>
                <td>왕오춘</td>
                <td>★★★★★</td>
                <td>2024-02-05</td>
            </tr>
            <tr>
                <td>05</td>
                <td>랜덤 매칭</td>
                <td>이상한 사람이 너무 많았어요 다음....</td>
                <td>왕오춘</td>
                <td>★★☆☆☆</td>
                <td>2024-02-05</td>
            </tr>
            </tbody>
        </table>
        <div>
            <el-pagination
                :page-size="20"
                :pager-count="11"
                layout="prev, pager, next"
                :total="200">
            </el-pagination>
        </div>
    </div>
</template>
<script>

</script>

