<template>
    <div class="tm-calendar-now-month">
        <div class="tm-calender-img">
            <el-calendar v-model="value">
            </el-calendar>
        </div>
        <div class="tm-calender-now-month-info">
            <p>예약자 명단</p>
            <el-table
                ref="multipleTable"
                :data="tableData"
                style="width: 100%"
                @selection-change="handleSelectionChange">
                <el-table-column
                    type="selection"
                    width="55">
                </el-table-column>
                <el-table-column
                    label="Project Date"
                    width="300">
                    <template slot-scope="scope">{{ scope.row.date }}</template>
                </el-table-column>
                <el-table-column
                    property="name"
                    label="Name"
                    width="120">
                </el-table-column>
                <el-table-column
                    property="gender"
                    label="Gender"
                    show-overflow-tooltip>
                </el-table-column>
                <el-table-column
                    property="address"
                    label="Project Address"
                    show-overflow-tooltip>
                </el-table-column>
            </el-table>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            tableData: [{
                date: '2024-03-10 - 2024-03-12',
                name: '송하나',
                gender: '여',
                address: '경상남도 함양군 '
            }, {
                date: '2024-03-10 - 2024-03-12',
                name: '남도형',
                gender: '남',
                address: '경상남도 함양군'
            }, {
                date: '2024-03-10- 2024-03-12',
                name: '김대현',
                gender: '남',
                address: '경상남도 함양군'
            }, {
                date: '2024-03-10- 2024-03-12',
                name: '황아름',
                gender: '여',
                address: '경상남도 함양군'
            }, {
                date: '2024-03-15 - 2024-03-17',
                name: '강원',
                gender: '남',
                address: '강원도 양구군'
            }, {
                date: '2024-03-15 - 2024-03-17',
                name: '김하나',
                gender: '여',
                address: '강원도 양구군'
            }, {
                date: '2024-03-15 - 2024-03-17',
                name: '송아름',
                gender: '여',
                address: '강원도 양구군'
            }],
            multipleSelection: []
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CALENDER')
    },

    methods: {
        toggleSelection(rows) {
            if (rows) {
                rows.forEach(row => {
                    this.$refs.multipleTable.toggleRowSelection(row);
                });
            } else {
                this.$refs.multipleTable.clearSelection();
            }
        },
        handleSelectionChange(val) {
            this.multipleSelection = val;
        },
    }
}
</script>
