<template>
    <div>
        <div class="tm-home-head">
            <div class="tm-recent">
                <a href="">
                    <p class="tm-recent-text-main">최근가입현황</p>
                    <p class="tm-recent-text">2024-01-29</p>
                    <el-progress :text-inside="true" :stroke-width="20" :percentage="30"></el-progress>
                    <el-progress :text-inside="true" :stroke-width="20" :percentage="40"
                                 status="exception"></el-progress>
                    <p class="tm-recent-text">2024-01-30</p>
                    <el-progress :text-inside="true" :stroke-width="20" :percentage="57"></el-progress>
                    <el-progress :text-inside="true" :stroke-width="20" :percentage="22"
                                 status="exception"></el-progress>
                    <p class="tm-recent-text">2024-01-31</p>
                    <el-progress :text-inside="true" :stroke-width="20" :percentage="70"></el-progress>
                    <el-progress :text-inside="true" :stroke-width="20" :percentage="50"
                                 status="exception"></el-progress>
                </a>
            </div>
            <div class="tm-visitor">
                <a href="">
                    <p class="tm-visitor-text">
                        최근 방문자수 현황
                    </p>
                    <el-row :gutter="20">
                        <el-col :span="6">
                            <div>
                                <el-statistic title="전일 방문자수">
                                    <template slot="formatter">
                                        156
                                    </template>
                                </el-statistic>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div>
                                <el-statistic title="금일 방문자수">
                                    <template slot="formatter">
                                        42
                                    </template>
                                </el-statistic>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div>
                                <el-statistic title="누적 방문자수">
                                    <template slot="formatter">
                                        198
                                    </template>
                                </el-statistic>
                            </div>
                        </el-col>
                    </el-row>
                </a>
            </div>
            <div class="tm-calendar">
                <a href="">
                    <el-calendar :range="['2024-02-05', '2024-02-18']">
                    </el-calendar>
                </a>
            </div>
        </div>
        <!--  tm-home-head e   -->
        <div class="tm-home-body">
            <div class="tm-reservation">
                <a href="">
                    <el-table
                        :data="tableData"
                        style="width: 100%">
                        <el-table-column
                            prop="date"
                            label="Date"
                            width="180">
                        </el-table-column>
                        <el-table-column
                            prop="name"
                            label="Name"
                            width="180">
                        </el-table-column>
                        <el-table-column
                            prop="address"
                            label="Address">
                        </el-table-column>
                    </el-table>
                </a>
            </div>
            <div class="tm-ds-inquiry">
                <a href="">
                    <div class="tm-inquiry-info">
                        1:1 문의
                    </div>
                    <table class="tm-inquiry-list">
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>분류</th>
                            <th>제목</th>
                            <th>문의자</th>
                            <th>상태</th>
                            <th>문의 일시</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="inquiry-1">
                            <th>01</th>
                            <th>결제</th>
                            <th>신용카드로 결제취소 하였는데....</th>
                            <th>왕오춘</th>
                            <th>미답변</th>
                            <th>2024-02-06</th>
                        </tr>
                        <tr>
                            <th>02</th>
                            <th>상품문의</th>
                            <th>02번 패키지에 대해 질문...</th>
                            <th>왕오춘</th>
                            <th>미답변</th>
                            <th>2024-02-05</th>
                        </tr>
                        <tr>
                            <th>03</th>
                            <th>상품문의</th>
                            <th>02번 패키지에 대해 질문...</th>
                            <th>왕오춘</th>
                            <th>미답변</th>
                            <th>2024-02-05</th>
                        </tr>
                        <tr>
                            <th>04</th>
                            <th>상품문의</th>
                            <th>02번 패키지에 대해 질문...</th>
                            <th>왕오춘</th>
                            <th>미답변</th>
                            <th>2024-02-05</th>
                        </tr>
                        <tr>
                            <th>05</th>
                            <th>상품문의</th>
                            <th>02번 패키지에 대해 질문...</th>
                            <th>왕오춘</th>
                            <th>미답변</th>
                            <th>2024-02-05</th>
                        </tr>
                        </tbody>
                    </table>
                </a>
            </div>
        </div>
        <!--   tm-home-body e   -->
    </div>
</template>
<script>


export default {
    data() {
        return {
            tableData: [{
                date: '2024-03-10',
                name: '임꺽정',
                address: '제주도 서귀포 Package No. 1'
            }, {
                date: '2024-03-10',
                name: '김꺽정',
                address: '제주도 서귀포 Package No. 1'
            }, {
                date: '2024-03-15',
                name: '강꺽정',
                address: '강원도 가평 Package No . 2'
            }, {
                date: '2024-03-15',
                name: '박꺽정',
                address: '강원도 가평 Package No . 2'
            }]
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },

}
</script>

