<template>
    <div class="tm-member-detail">
        <el-table>
            <tr>
                <th
                    prop="memberId"
                    label="회원번호"
                ></th>
                <td>01</td>
                <th>회원 아이디</th>
                <td>skagh 123</td>
            </tr>
            <tr>
                <th>이름</th>
                <td>김남호</td>
                <th>가입 일시</th>
                <td>2024-02-19</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>namho@naver.com</td>
                <th>연락처</th>
                <td>010-0000-0000</td>
            </tr>
            <tr>
                <th>주소</th>
                <td rowspan="2">경기도 안산시 단원구</td>
            </tr>
            <tr>

            </tr>
        </el-table>
    </div>
</template>
<script>
export default {
    data() {
        return{
            tableData:[]
        }
    }
}
</script>
