<template>
    <div>
        <div class="tm-inquiry-title">
            회원 리스트
        </div>
        <div class="tm-member-search">
            <el-input placeholder="Please input" v-model="input"></el-input>
            <el-button icon="el-icon-search" circle></el-button>
        </div>
        <div class="tm-member-inquiry">
            <el-table
                :data="tableData"
                style="width: 100%">
                <el-table-column
                    prop="dateJoin"
                    label="가입 일시"
                    width="270">
                </el-table-column>
                <el-table-column
                    prop="name"
                    label="성명"
                    width="220">
                </el-table-column>
                <el-table-column
                    prop="birthday"
                    label="생년월일"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="isMan"
                    label="성별"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="grade"
                    label="등급"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="address"
                    label="주소">
                </el-table-column>
                <el-table-column
                    prop="etcText"
                    label="도구"
                    width="360">
                    <el-button plain>더보기</el-button>
                    <el-button type="danger" @click="open">삭제</el-button>
                </el-table-column>
            </el-table>
        </div>
        <div>
            <el-pagination
                :page-size="20"
                :pager-count="11"
                layout="prev, pager, next"
                :total="200">
            </el-pagination>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            tableData: []
        }
    },
    methods: {
        getList(){
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_MEMBER_LIST)
                .then((res) => {
                    console.log(123)
                    this.tableData = res.data.tableData
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    console.log(1231)
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        open() {
            this.$confirm('삭제된 정보는 복구할수 없습니다 정말로 삭제하시겠습니까?', 'Warning', {
                confirmButtonText: 'OK',
                cancelButtonText: 'Cancel',
                type: 'warning'
            }).then(() => {
                this.$message({
                    type: 'success',
                    message: 'Delete completed'
                });
            }).catch(() => {
                this.$message({
                    type: 'info',
                    message: 'Delete canceled'
                });
            });
        }
    },
    // computed: {
    //     list() {
    //         return tableData
    //     },
    //     error() {
    //         return error
    //     }
    // },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DO_MEMBER_LIST')
    },
}
</script>
